@charset "UTF-8";
#sc_email_to_download_admin{
	.pagination{
		margin: 15px 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			margin: 0 2px;
			padding:0 20px;
			border:1px #ccc solid;
			border-radius:3px;
			font:13px/33px arial,verdana,tahoma;
			color: #333;
			cursor: pointer;
			&.active{
				background: #333;
				color: #fff;
			}
		}
	}
	table{
		width: 100%;
		th, td{
			text-align: left;
			padding: 0 8px;
			font: 13px/33px arial,verdana,tahoma;
			border-bottom: 1px #ccc solid;
		}
		th{
			font-weight: 700;
			border-bottom: 2px #222 solid;
		}
	}
}